@charset "UTF-8";
:root {
  --clr-base: #000;
  --clr-att: #f00;
  --min: 320px;
  --max: 1200px;
  font-size: 10px;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base, #000);
  background: #fff;
}
p,
ul,
ol {
  position: relative;
}
p img,
ul img,
ol img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
}
a {
  text-decoration: none;
  color: var(--clr-att, #f00);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att, #f00);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
a.link-main:hover,
.link-main:hover {
  border-bottom: none;
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min, 320px);
}
.inner-wrap,
.page {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 0 20px;
  min-width: var(--min, 320px);
  max-width: var(--max, 1200px);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page .cnt-section {
  min-width: 0;
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min, 320px);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.logo {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
textarea {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}
.frm-row,
.frm-field,
.frm-row-submit {
  position: relative;
  line-height: 1;
}
.frm-row:after,
.frm-field:after,
.frm-row-submit:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeinslide {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
.i {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: none;
  transition: none;
}
.js-bg-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.js-bg-box .js-bg-photo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.js-btn-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  -webkit-animation: fadein ease 0.3s;
  animation: fadein ease 0.3s;
}
.js-tab-block {
  display: none;
  -webkit-animation: fadein ease 0.2s;
          animation: fadein ease 0.2s;
}
.js-tab-block.active {
  display: block;
}
.items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-width: 100%;
  margin: 0 -15px;
}
.item-wrap {
  width: 100%;
  position: relative;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid-column;
  display: block;
  -webkit-animation: fadein ease 0.2s;
          animation: fadein ease 0.2s;
  padding: 0 15px;
  margin-bottom: 30px;
}
.item-wrap.wrap-more ~ .item-wrap {
  display: none;
}
.item-wrap.wrap-more.active {
  display: none;
}
.item-wrap.wrap-more.active ~ .item-wrap {
  display: block;
}
.slider-wrap {
  margin: 0 -15px;
  position: relative;
  line-height: 1;
}
.sl-wrap {
  padding: 0 15px;
  position: relative;
  line-height: 1;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none;
  }
  .items-wrap {
    margin: 0 -10px;
  }
  .item-wrap {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .sl-wrap {
    padding: 0 10px;
  }
  .slider-wrap {
    margin: 0 -10px;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-blank {
  background-image: url(../img/spr.png);
  background-position: 0px 0px;
  width: 1px;
  height: 1px;
}
/* ----------------------------------- *\
			animation
\* ----------------------------------- */
.item-animation {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  opacity: 0;
}
.item-animation.item-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.item-aleft {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}
.item-aright {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}
.item-abottom {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}
.item-atop {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
.item-animation-second {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.item-animation-third {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.item-animation-four {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.item-animation-five {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.item-animation-six {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.item-animation-seven {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
