/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.cnt-top-box {
    background: #000;
    position: relative;
    overflow: hidden;
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20/14;
    color: #fff;
    min-height: 277px;
    .top-text-wrap {
        display: block;
        position: relative;
        padding: 40px 40px 34px 40px;
    }
    .breadcrumbs-wrap {
        padding: 30px 30px 0 40px;
    }
    .breadcrumbs-box {
        margin-bottom: 0;
        padding: 0;
        color: #fff;
        .list-wrap {
            a {
                color: #fff;
            }
            li {
                &:last-child {
                    font-size: 12px;;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    .h2-title {
        margin: 0 0 20px 0; 
    }
}
.new-box {
    margin-bottom: 70px;
    display: flex;
    font-size: 16px;
    line-height: 2;
    .nav-wrap {
        max-width: 200/16em;
        margin-bottom: 2px;
    }
    .new-text-wrap {
        width: 60%;
        padding: 0 60px 0 0;
        &:last-child {
            width: 100%;
            padding-right: 0;
        }
    }
    .new-photo-wrap {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        width: 40%;
        max-height: 790/16em;
    }
    p {
        margin-bottom: 32/16em;
    }
}
.news-box {
    margin-bottom: 47px;
    .item-wrap {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .pagenav-box {
        margin-top: 46px;
    }
}
.pagenav-box {
    margin-bottom: 47px;
    font-size: 16px;
    line-height: 26px;
    color: var(--clr-base);
    font-weight: 500;
    .btn-pagenav {
        display: inline-block;
        vertical-align: top;
        height: 26px;
        line-height: 26px;
        padding: 0 24px 0 0;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -6px;
            background: url(../img/icons/arrow04.svg) center no-repeat;
            background-size: 11px auto;
        }
        &.nav-prev {
            padding: 0 0 0 24px;
            &:before {
                .t-rotate(180deg);
                right: auto;
                left: 0;
            }
        }
    }
    .pages-wrap {
        display: flex;
        justify-content: center;
        margin: 0 -5px;
        a, span {
            height: 26px;
            line-height: 26px;
            padding: 0 4px;
            min-width: 28px;
            text-align: center;
            margin: 0 5px;
        }
    }
    a {
        color: var(--clr-base);
        &:hover {
            color: var(--clr-att);
        }
    }
    .active {
        background: #F4F9FF;
    }
}
.popup-box {
    &.fancybox-content {
        width: 558px;
        background: #EAF3FF;
        padding: 42px 20px 30px 21px;
    }
    .fancybox-button.fancybox-close-small {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        &:hover {
            background: none;
            &:after, &:before {
                background: #000;
            }
        }
        &:after, &:before {
            content: "";
            display: block;
            width: 18px;
            height: 2px;
            background: #8B949E;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -9px;
            .t-rotate(45deg);
            border-radius: 1px;
            transition: background ease 0.2s;
        }
        &:before {
            .t-rotate(-45deg);
        }
        * {
            display: none;
        }
    }
    .frm-popup {
        max-width: 422px;
        margin: 0 auto;
    }
}
.fancybox-bg {
    background: rgba(10, 10, 10, 0.85);
}
.side-filter-box {
    margin-bottom: 10px;
    .filter-sections-wrap {
        border: 1px solid #DEDEDE;
        border-top: none;
        border-bottom: none;
    }
    .filter-actions-wrap {
        margin-top: 22px;
        .btn,
        button,
        input[type="submit"] {
            height: 45px;
            width: 100%;
            font-size: 14px;
            &.button-border {
                font-size: 12px;
                font-weight: 400;
                padding: 0 10px 0 40px;
            }
            .button-ico {
                position: absolute;
                top: 50%;
                left: 40px;
                margin: -12px 0 0 -12px;
                width: 24px;
                height: 24px;
                img {
                    max-width: 24px;
                    max-height: 24px;
                }
            }
        }
    }
    .filter-action {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .filter-section {
        border-bottom: 1px solid #DEDEDE;
        &.section-small {
            .section-title {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: #fff;
                background: linear-gradient(273.94deg, #5A97E7 3.22%, #4B81C8 93.72%);
                &:before {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    .section-open {
        .section-title {
            &:before {
                .t-rotate(180deg);
            }
        }
        .section-content {
            display: block;
        }
    }
    .section-all {
        .section-hidden {
            display: block;
        }
        .section-actions {
            a {
                &:before {
                    content: attr(data-hide);
                }
                &:after {
                    .t-rotate(180deg);
                }
            }
        }
    }
    .section-actions {
        display: block;
        font-size: 12px;
        line-height: 15px;
        a {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            transition: none;
            &:hover {
                padding-bottom: 1px;
            }
            &:after {
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                position: absolute;
                top: 50%;
                left: 100%;
                margin-left: 5px;
                margin-top: -4px;
                background: url(../img/icons/arrow-toggle03.svg) center no-repeat;
                background-size: 8px auto;
                transition: transform ease 0.2s;
            }
            &:before {
                content: attr(data-show);
            }
        }
    }
    .section-hidden {
        display: none;
        animation: fadeinslide ease 0.2s;
    }
    .section-title {
        display: flex;
        align-items: center;
        padding: 10px 30px 10px 19px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: var(--clr-att);
        min-height: 45px;
        cursor: pointer;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 25px;
            margin: -10px -10px 0 0;
            transition: transform ease 0.2s;
            background: url(../img/icons/arrow-toggle01.svg) center no-repeat;
            background-size: 14px auto;
        }
    }
    .section-content {
        display: none;
        position: relative;
        border-top: 1px solid #DEDEDE;
        animation: fadeinslide ease 0.2s;
        padding: 18px 20px;
    }
    .btn-filter {
        display: flex;
        align-items: center;
        position: relative;
        height: 50px;
        border: 1px solid #DFDFDF;
        border-radius: 3px;
        font-size: 12px;
        font-weight: bold;
        color: #000;
        padding: 0 40px 0 19px;
        .button-ico {
            display: none;
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        &:after, &:before {
            content: "";
            display: block;
            width: 10px;
            height: 2px;
            background: #000;
            border-radius: 1px;
            position: absolute;
            top: 50%;
            right: 27px;
            margin: -1px -5px 0 0;
            transition: transform ease 0.2s;
        }
        &:before {
            .t-rotate(90deg);
        }
        &.active {
            &:before {
                .t-rotate(0deg);
            }
        }
    }
    .filter-block {
        animation: fadeinslide ease 0.2s;
        display: none;
    }
    .frm-select {
        margin-bottom: 16px;
    }
}
.side-menu-box {
    display: block;
    position: relative;
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 19px;
    color: #000;
    .menu-block {
        padding: 10px 0 20px 0;
        border: 1px solid #DFDFDF;
        border-top: none;
        a {
            display: block;
            position: relative;
            color: #000;
            padding: 10px 15px 10px 26px;
            &:hover {
                color: var(--clr-att);
            }
            &.active {
                font-weight: 500;
            }
        }
    }
    ul, li {
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
    }
    .btn-menu {
        display: flex;
        align-items: center;
        height: 50px;
        background: #3C7DD2;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        overflow: hidden;
        position: relative;
        padding: 0 15px 0 18px;
        pointer-events: none;
        &:hover, &.active {
            background: #163d72;
            color: #fff;
        }
        .elm-ico {
            width: 18px;
            height: 18px;
            margin: 0 10px 0 0;
            filter: brightness(0) invert(1);
        }
    }
}
.article-box {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 55px;
    p {
        margin-bottom: 28px;
    }
    .h3-title, h3, h3, .h2-title {
        margin-bottom: 47/16em;
    }
}
.catalog-inner-box,
.catalog-box {
    margin-bottom: 40px;
    .items-wrap {
        margin: 0;
    }
    .item-wrap {
        padding: 0;
        margin: 0;
    }
    .h2-title {
        margin-bottom: 0;
    }
}
.card-info-box {
    font-size: 14px;
    line-height: 2;
    display: block;
    position: relative;
    .info-content-wrap {
        margin-bottom: 45px;
    }
    .info-side-wrap {
        border: 10px solid var(--clr-att);
        padding: 30px 7px 19px 7px;
        margin-bottom: 35px;
        .card-title {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    .card-title {
        display: block;
        margin: 38px 0 20px 0;
        font-size: 21px;
        line-height: 1.3;
        font-weight: 500;
        &:first-child {
            margin-top: 0;
        }
    }
    .more-wrap {
        padding-top: 15px;
        font-weight: 500;
    }
}
.card-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
    .card-photo-wrap {
        display: block;
        position: relative;
        margin-bottom: 50px;
    }
    .card-info-wrap {
        
    }
    .card-subinfo-wrap {
        display: none;
        background: #fff;
        border: 3px solid #3C7DD2;
        padding: 46px 38px 30px 38px;
        font-size: 14px;
        line-height: 22/14;
    }
    .card-subtitle {
        display: block;
        font-size: 16px;
        line-height: 25px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
    }
    .card-title {
        display: block;
        font-size: 20px;
        line-height: 27px;
        font-weight: bold;
        margin: 0;
    }
    .title-wrap {
        margin-bottom: 32px;
        a {
            display: block;
            color: #000;
            &:hover {
                color: var(--clr-att);
            }
        }
    }
    .items-wrap {
        margin: 0 -10px;
        padding-bottom: 8px;
    }
    .item-wrap {
        padding: 0 10px;
        margin-bottom: 24px;
    }
    .action-wrap {
        margin-bottom: 10px;
    }
    .elm-photo {
        width: 194px;
    }
    .info-section {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            padding-top: 8px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .section-title {
        display: block;
        font-size: 14px;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 5px;
        color: #8F8F8F;
        font-weight: 400;
    }
    .section-links {
        font-size: 16px;
        line-height: 25px;
        margin: 0 -15px 0 0;
        display: flex;
        flex-wrap: wrap;
        a {
            margin: 0 15px 5px 0;
            display: block;
        }
    }
    .btn,
    button,
    input[type="submit"] {
        height: 45px;
        width: 100%;
        font-size: 14px;
        &.button-border {
            font-size: 12px;
            font-weight: 400;
            padding: 0 10px 0 40px;
        }
        .button-ico {
            position: absolute;
            top: 50%;
            left: 40px;
            margin: -12px 0 0 -12px;
            width: 24px;
            height: 24px;
            img {
                max-width: 24px;
                max-height: 24px;
            }
        }
    }
}
.breadcrumbs-box {
    ul, li {
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
    }
}
.main-partners-box {
    padding: 30px 0 60px 0;
    background: rgba(247, 247, 247, 0.84);
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    .slider-mobile {
        display: none;
    }
    .slider-outer-wrap,
    .slider-wrap,
    .slider,
    .sl-wrap {
        margin: 0;
        position: relative;
        padding: 0;
    }
    .items-wrap {
        margin: 0 -15px;
    }
    .item-wrap {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .action-wrap {
        text-align: center;
        margin-top: 30px;
    }
    .menu-wrap {
        display: none;
    }
    .title-wrap {
        margin-bottom: 30px;
    }
    .desc-wrap {
        display: block;
        margin-bottom: 30px;
    }
    .title-link {
        display: none;
    }
    .title {
        display: block;
        font-size: 24px;
        line-height: 39px;
        margin: 0;
        font-weight: 500;
    }
    .item-logo {
        max-width: 172px;
    }
    .slider-counter {
        display: block;
        position: relative;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        color: var(--clr-att);
        font-weight: bold;
        white-space: nowrap;
        &:after {
            content: " / " attr(data-total);
        }
    }
    .sl-dot {
        display: none;
        &.active {
            display: inline;
        }
    }
    .btn-action-ico {
        &.ico-arrow {
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -70px;
        }
        &.ico-arrow-next {
            margin-left: 30px;
        }
    }
}
@media (max-width: 1023px) {
    .new-box {
        display: block;
        .new-text-wrap {
            width: 100%;
            padding-right: 0;
        }
        .new-photo-wrap {
            width: 100%;
            height: 300px;
            margin: 40px 0 0 0;
        }
    }
    .popup-box {
        .fancybox-button.fancybox-close-small {
            top: 0;
            right: 0;
        }
    }
    .side-menu-box {
        margin-bottom: 10px;
        .btn-menu {
            height: 70px;
            padding: 0 50px 0 0;
            border-radius: 3px;
            font-size: 16px;
            pointer-events: inherit;
            &.active {
                &:before {
                    .t-rotate(45deg);
                }
                &:after {
                    .t-rotate(-45deg);
                    height: 2px;
                    margin-top: -1px;
                    border-top: none;
                }
            }
            &:after, &:before {
                content: "";
                display: block;
                width: 18px;
                height: 12px;
                position: absolute;
                top: 50%;
                right: 30px;
                margin: -6px -9px 0 0;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transition: all ease 0.2s;
            }
            &:before {
                height: 2px;
                margin-top: -1px;
                border-top: none;
            }
            .elm-ico {
                width: 46px;
                height: 46px;
                margin: 0;
                img {
                    display: none;
                }
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: url(../img/icons/arrow-toggle02.svg) center no-repeat;
                    background-size: 10px auto;
                    .t-rotate(90deg);
                }
            }
        }
        .menu-block {
            animation: fadeinslide ease 0.2s;
            display: none;
        }
    }
    .content-outer-wrap {
        display: flex;
        flex-direction: column;
        .side-wrap {
            order: 1;
            margin-bottom: 20px;
            width: 100%;
        }
        .content-wrap {
            order: 2;
            width: 100%;
        }
    }
    .breadcrumbs-box {
        display: flex;
        flex-direction: column-reverse;
        .list-wrap {
            font-size: 12px;
            line-height: 18px;
            padding: 20px 0;
            a {
                display: block;
                height: 28px;
                line-height: 28px;
                padding: 0 15px;
                white-space: nowrap;
                position: relative;
                overflow: hidden;
                color: #959595;
                &:hover {
                    color: #000;
                }
                &.link-main {
                    border: none;
                }
            }
            ol {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
            }
        }
        .nav-wrap {
            display: block;
            position: relative;
            line-height: 1;
            padding: 8px 0 30px 0;
        }
    }
}
@media (max-width: 767px) {
    .side-menu-box {
        margin-bottom: 10px;
        .btn-menu {
            height: 50px;
            font-size: 12px;
            .elm-ico {
                width: 44px;
                height: 44px;
            }
        }
    }
    .breadcrumbs-box {
        .btn-action-nav {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
    .main-partners-box {
        .slider-mobile {
            display: block;
        }
        .slider-full {
            display: none;
        }
    }
}
@media (max-width: 639px) {
    .pagenav-box {
        position: relative;
        padding-bottom: 61px;
        .btn-pagenav {
            position: absolute;
            bottom: 0;
            left: 0;
            &.nav-next {
                left: auto;
                right: 0;
            }
        }
    }
}
@media (min-width: 640px) {
    .pagenav-box {
        display: flex;
        align-items: center;
        justify-content: center;
        .pages-wrap {
            margin: 0 25px;
        }
    }
    .news-box {
        margin-bottom: 57px;
        .pagenav-box {
            margin-top: 57px;
        }
        .item-wrap {
            margin-bottom: 20px;
        }
    }
}
@media (min-width: 768px) {
    .side-filter-box {
        .btn-filter {
            height: 60px;
            font-size: 14px;
        }
    }
    .catalog-inner-box,
    .catalog-box {
        .h2-title {
            margin-bottom: 15px;
        }
    }
    .card-info-box {
        .info-side-wrap {
            padding-left: 34px;
            padding-right: 34px;
            margin-bottom: 48px;
        }
    }
    .card-box {
        margin-bottom: 48px;
        flex-direction: row;
        .card-photo-wrap {
            width: 294px;
            flex-shrink: 0;
            margin: 0;
            padding: 0;
        }
        .card-info-wrap {
            flex: 1;
            padding: 0;
            margin: 0;
        }
        .item-wrap {
            width: 50%;
            max-width: 300px;
        }
        .actions-wrap {
            display: flex;
            margin: 0 -10px 0 0;
        }
        .action-wrap {
            padding: 0 10px 0 0;
            margin: 0;
        }
        .btn,
        button,
        input[type="submit"] {
            padding: 0 32px;
            width: auto;
            &.button-border {
                padding: 0 30px 0 20px;
            }
            .button-ico {
                position: relative;
                margin: 0 10px 0 0;
                top: auto;
                left: auto;
            }
        }
    }
    .main-partners-box {
        padding: 40px 0 44px 0;
        .items-wrap {
            padding: 0 30px 0 0;
        }
        .item-wrap {
            width: 33.33%;
        }
        .slider-wrap {
            padding-bottom: 30px;
        }
        .slider-counter {
            margin-right: 0;
            margin-left: auto;
            width: 140px;
            position: absolute;
            top: 100%;
            right: 0;
        }
        .btn-action-ico {
            &.ico-arrow {
                left: auto;
                right: 0;
                margin: 30px 0 0 0;
            }
            &.ico-arrow-prev {
                margin-right: 100px;
            }
        }
        .action-wrap {
            margin: 0;
            text-align: left;
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    
    .breadcrumbs-box {
        .nav-wrap {
            padding-bottom: 40px;
            padding-top: 20px;
        }
        .list-wrap {
            padding: 15px 0;
        }
    }
}
@media (min-width: 1024px) {
    .pagenav-box {
        justify-content: flex-start;
    }
    .news-box {
        margin-bottom: 60px;
        .pagenav-box {
            margin-top: 106px;
        }
    }
    .side-filter-box {
        margin-bottom: 30px;
        background: #fff;
        .filter-block {
            display: block;
        }
        .btn-filter {
            pointer-events: none;
            height: 50px;
            border-radius: 0;
            border: 1px solid #DEDEDE;
            color: var(--clr-att);
            &:after, &:before {
                display: none;
            }
            .button-ico {
                display: block;
            }
        }
    }
    .content-outer-wrap {
        display: flex;
        margin: 0;
        &.d-top {
            padding-top: 26px;
        }
        &.side-right {
            .side-wrap {
                padding: 0 0 0 30px;
                order: 2;
            }
            .content-wrap {
                order: 1;
            }
        }
        .side-wrap {
            order: 1;
            width: 294px;
            padding: 0 30px 0 0;
            flex-shrink: 0;
            margin: 0;
        }
        .content-wrap {
            flex: 1;
            margin: 0;
            order: 2;
        }
    }
    .catalog-inner-box {
        margin-bottom: 0;
        position: relative;
        background: #F4F9FF;
        padding: 44px 0 16px 0;
        &:before, &:after {
        	content: "";
        	display: block;
        	width: 9999px;
        	position: absolute;
        	top: 0;bottom: 0;left: 100%;
        	background: #F4F9FF;
        }
        &:before {
        	left: auto;right: 100%;
        }
        .items-wrap {
            margin: 0 -15px;
        }
        .item-wrap {
            padding: 0 15px;
            margin-bottom: 30px;
            width: 33.33%;
        }
        .h2-title {
            margin-bottom: 1.5em;
        }
    }
    .card-info-box {
        display: flex;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 25/16;
        .info-content-wrap {
            flex: 1;
            padding: 8px 30px 0 0;
            margin-bottom: 0;
        }
        .info-side-wrap {
            flex-shrink: 0;
            width: 460px;
            background: #F5F9FF;
            padding: 40px 42px 34px 42px;
            margin: 0;
            border: none;
            .card-title {
                font-size: 21px;
            }
        }
        .more-wrap {
            padding-top: 0;
            font-size: 14px;
            font-weight: 400;
        }
        p {
            margin-bottom: 1.7em;
        }
    }
    .card-box {
        margin-bottom: 30px;
        background: #fff;
        border: 1px solid #EDEDED;
        .card-subinfo-wrap {
            width: 32.2%;
            flex-shrink: 0;
            display: block;
        }
        .card-photo-wrap {
            padding-top: 70px;
            padding-bottom: 50px;
            width: 345px;
            padding-left: 20px;
        }
        .card-info-wrap {
            padding: 52px 15px 40px 0;
        }
        .actions-wrap {
            margin-top: -15px;
        }
    }
    .breadcrumbs-box {
        flex-direction: row;
        align-items: center;
        display: flex;
        margin-bottom: 30px;
        padding-top: 22px;
        .nav-wrap {
            padding: 0 30px 0 0;
            border-right: 1px solid #CDCDCD;
            flex-shrink: 0;
        }
        .list-wrap {
            flex: 1;
            padding-left: 34px;
            font-size: 12px;
            line-height: 15px;
            color: #959595;
            &:first-child {
                padding-left: 0;
            }
            ol {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -34px 0 0;
                align-items: center;
            }
            li {
                margin-right: 34px;
                padding: 5px 0;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    margin-top: -2px;
                    background: #C4C4C4;
                    margin-left: 15px;
                }
                &:last-child {
                    font-size: 16px;
                    line-height: 25px;
                    color: #3C7DD2;
                    font-weight: 500;
                    &:after {
                        display: none;
                    }
                    a {
                        color: #3C7DD2;
                        border-bottom: none;
                    }
                }
            }
            a {
                color: #959595;
            }
        }
    }
    .main-partners-box {
        padding: 72px 0 78px 0;
        .inner-wrap {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
        }
        .slider-outer-wrap {
            width: 60%;
            max-width: 640px;
            margin: 0;
            padding: 0;
        }
        .slider-wrap {
            padding-bottom: 40px;
        }
        .items-wrap {
            padding: 0;
        }
        .item-wrap {
            margin-bottom: 0;
        }
        .info-wrap {
            width: 40%;
            flex-shrink: 0;
            padding: 0 40px 0 0;
            margin: 0;
        }
        .title-wrap {
            display: flex;
            align-items: center;
        }
        .desc-wrap {
            margin-bottom: 0;
        }
        .action-wrap {
            margin: 55px 0 0 0;
            padding: 0;
            position: static;
        }
        .title-link {
            display: block;
            padding: 0 0 0 60px;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            &:before {
                content: "";
                display: block;
                width: 1px;
                height: 22px;
                position: absolute;
                top: 50%;
                left: 30px;
                background: #000;
                margin-top: -11px;
            }
            a {
                color: #A0A0A0;
                &:hover {
                    color: var(--clr-base);
                }
            }
        }
        .btn-action-ico {
            &.ico-arrow {
                margin-top: 40px;
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .card-box {
        .card-photo-wrap {
            width: 240px;
            padding-left: 0;
        }
    }
    .main-partners-box {
        .title-link {
            display: none;
        }
    }
}