
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="desc-wrap">
				<p>Содержит смягчающие и антисептические добавки, способствующие заживлению ран. Обладает умеренным пенообразованием, хорошо смывается</p>
			</div>
		</div>
		<div class="menu-wrap">
			<ul>
				<li><a href="">Наша команда</a></li>
				<li><a href="">Контрактное производство</a></li>
				<li><a href="">Дилерам</a></li>
				<li><a href="">Новости</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<ul>
				<li><a href="">Клиннинг</a></li>
				<li><a href="">Пищевая промышленность</a></li>
				<li><a href="">Стирка и химчистка</a></li>
				<li><a href="">Специальная химия</a></li>
			</ul>
		</div>
		<div class="contacts-wrap">
			<div class="phones-wrap">
				<div class="phone-wrap">
					<a href="tel:84956401757">+7 (495) 640-17-57</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:84956401757">+7 (495) 640-17-57</a>
				</div>
			</div>
			<div class="mails-wrap">
				<div class="mail-wrap">
					<a href="mailto:info@novelhim.ru">info@novelhim.ru</a>
				</div>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-second button-light">Напишите нам</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->