
<!-- header -->
<header class="header">
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="header-menu-wrap menu-top menu-wrap js-popup-wrap">
				<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
				<div class="menu-block js-popup-block">
					<ul>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Наша команда</span>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контрактное производство</span>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Дилерам</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Новости</span>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<span class="button-title">Контакты</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="phones-wrap">
				<div class="phone-wrap">
					<a href="tel:84956401757" class="elm-phone">+7 (495) 640-17-57</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:84956401757" class="elm-phone">+7 (495) 640-17-57</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-nav-panel header-menu-wrap menu-catalog cnt-section js-popup-wrap">
		<div class="btn-action-ico button-scroll"></div>
		<a href="" class="btn-nav js-btn-toggle">
			<span class="button-title">Каталог товаров</span>
		</a>
		<div class="inner-wrap menu-block js-popup-block">
			<div class="menu-wrap">
				<ul>
					<li>
						<a href="" class="btn-menu">
							<span class="elm-ico">
								<img src="./img/icons/menu01.svg" alt="">
							</span>
							<span class="button-title">Клиннинг</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<span class="elm-ico">
								<img src="./img/icons/menu02.svg" alt="">
							</span>
							<span class="button-title">Пищевая промышленность</span>
						</a>
						<ul>
							<li><a href="">Молочная промышленность</a></li>
							<li><a href="">Мясо, рыбоперерабатывающая отрасль, птицеводство</a></li>
							<li><a href="">Кондитерская и хлебобулочная, масложировая</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<span class="elm-ico">
								<img src="./img/icons/menu03.svg" alt="">
							</span>
							<span class="button-title">Стирка и химчистка</span>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<span class="elm-ico">
								<img src="./img/icons/menu04.svg" alt="">
							</span>
							<span class="button-title">Индустриальная химия</span>
						</a>
						<ul>
							<li><a href="">Молочная промышленность</a></li>
							<li><a href="">Мясо, рыбоперерабатывающая отрасль, птицеводство</a></li>
							<li><a href="">Кондитерская и хлебобулочная, масложировая</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<span class="elm-ico">
								<img src="./img/icons/menu05.svg" alt="">
							</span>
							<span class="button-title">Антисептики</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="search-wrap">
				<a href="" class="btn-action-ico ico-search"></a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->