<!--main-partners-box-->
<div class="main-partners-box cnt-section">
	<div class="inner-wrap">
		<div class="info-wrap">
			<div class="title-wrap">
				<div class="title">С нами работают</div>
				<div class="title-link">
					<a href="">Все новости</a>
				</div>
			</div>
			<div class="desc-wrap">
				<p>Сегодня НОВЭЛХИМ известна в России и за ее пределами, как надежная компания-производитель профессиональных моющих средств и бытовой химии. </p>
			</div>
			<div class="action-wrap elm-hidden-mobile">
				<a href="" class="btn button-second button-arrow">Наша команда</a>
			</div>
		</div>
		<div class="slider-outer-wrap">
			<div class="slider-wrap">
				<div class="slider">
					<!--sl-wrap-->
					<div class="sl-wrap">
						<div class="items-wrap">
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo01.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo02.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo03.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo03.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo01.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo02.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
						</div>
					</div>
					<!--/sl-wrap-->
					<!--sl-wrap-->
					<div class="sl-wrap">
						<div class="items-wrap">
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo01.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo02.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo03.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo03.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo01.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
							<!--item wrap-->
							<div class="item-wrap">
								<a href="" class="item-logo">
									<img src="./img/logo02.png" alt="">
								</a>
							</div>
							<!--/item wrap-->
						</div>
					</div>
					<!--/sl-wrap-->
				</div>
				<div class="slider-counter" data-total="12">
					<div class="sl-dot active" data-slide="0">6</div>
					<div class="sl-dot" data-slide="1">12</div>
				</div>
			</div>
		</div>
		<div class="action-wrap elm-hidden-desktop">
			<a href="" class="btn button-second button-arrow">Наша команда</a>
		</div>
	</div>
</div>
<!--/main-partners-box-->